:root {
  --petrolBlue: #003f5c;
  --lightBlue: #006d77;
  --mateOrange: #e29578;
  --bgWhite: #ebebeb;
  --blackText: #262322;
  --iconHtml: #e96228;
  --iconCss: #28a3d9;
  --iconJs: #f7da03;
  --iconVue: #29bb7c;
  --iconVuetify: #77c0f7;
  --iconGit: #eb4d28;
  --iconGithub: #303030;
  --icon: ;
}

html {
  overflow-x: hidden !important;
  overflow-y: scroll;
}
